[Unit]
Description=Workaround for mounting NFS file systems at boot time
After=remote-fs.target

[Service]
Type=oneshot
ExecStart=/bin/mount -avt nfs
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
