services:
  ansible:
    image: harbor.vcloud.nii.ac.jp/vcp/coursewarehub:power-ctl
    volumes:
      - ./config:/home/vcp/.config/vcp
      - ./schedule.json:/home/vcp/schedule.json
{% if manager_docker_host == "unix:///var/run/docker.sock" %}
      - /var/run/docker.sock:/var/run/docker.sock
{% endif %}
    environment:
      UGROUP_NAME: {{ ugroup_name }}
      UNIT_NAME: worker
      DOCKER_HOST: {{ manager_docker_host }}
    secrets:
      - VCC_ACCESS_TOKEN
{% if manager_docker_host != "unix:///var/run/docker.sock" %}
      - SSH_PRIVATE_KEY
{% endif %}

secrets:
  VCC_ACCESS_TOKEN:
    file: ./secrets/VCC_ACCESS_TOKEN
{% if manager_docker_host != "unix:///var/run/docker.sock" %}
  SSH_PRIVATE_KEY:
    file: ./secrets/SSH_PRIVATE_KEY
{% endif %}
