[Unit]
Description = Hybrid cloud daemon

[Service]
ExecStart = /opt/HybridCloud/scripts/hybrid-cloud-agent.sh
ExecStop = /bin/kill $MAINPID
StandardOutput = syslog
StandardError = syslog
SyslogIdentifier = hybrid-cloud

[Install]
WantedBy = multi-user.target
