[Unit]
Description = Hybrid cloud daemon

[Service]
EnvironmentFile = /opt/hybridcloud/vcpsdk/config/env
ExecStart = /opt/hybridcloud/scripts/hybrid-cloud-agent.sh
ExecStop = /bin/kill $MAINPID
StandardOutput = syslog
StandardError = syslog
SyslogIdentifier = hybrid-cloud

[Install]
WantedBy = multi-user.target
