[Unit]
Description=Serf Agent
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/serf agent -node=${SERF_NODE_ID} -bind=${PRIVATE_IP}:7947 -discover=vccluster_${VCCC_ID} -join=${VCCCTR_IPADDR}
KillSignal=SIGINT
Restart=always
RestartSec=10
EnvironmentFile=/etc/sysconfig/serf

[Install]
WantedBy=multi-user.target
