[
{%- for item in power_ctl_schedule %}
{
  "active": {{item.availability.active}},
  "pause": {{item.availability.pause}},
  "drain": {{item.availability.drain}},
  "schedule": {
    {%- for key, value in item.schedule.items() -%}
      "{{key}}": {% if value is integer -%}
        {{value}}
      {%- else -%}
        "{{value}}"
      {%- endif -%}
      {%- if not loop.last -%} , {%- endif -%}
    {%- endfor -%}
  }
}
{%- if not loop.last -%} , {%- endif -%}
{% endfor %}
]
